.Motorcycles-banner
{
    background-color: rgb(37, 36, 36);
    position: fixed;
    top: 70px;
    left: 0px;
    right: 0px;
    height: 45px;
    color: white;
    z-index: 200;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}